{% extends 'deliver/base.html' %}
{% block title %} delivery tasks {% endblock title %}
{% block pagetitle %} rider dashboard {% endblock pagetitle %}
{% block page %}
<div class="card">
<div class="card-body">
    <div class="card-widgets">
        <a href="javascript: void(0);" data-toggle="reload"><i class="mdi mdi-refresh"></i></a>
        <a data-toggle="collapse" href="#cardCollpase5" role="button" aria-expanded="false" aria-controls="cardCollpase5"><i class="mdi mdi-minus"></i></a>
        <a href="javascript: void(0);" data-toggle="remove"><i class="mdi mdi-close"></i></a>
    </div>
    <div id="cardCollpase5" class="collapse pt-3 show">
        <div class="table-responsive">
            <table class="table table-hover table-centered mb-0">
                <thead class="thead-light">
                    <tr>
                        <th>id</th>
                        <th>product detail</th>
                        <th>priority</th>
                        <th>delivery boy</th>
                        <th>created at</th>
                        <th>accepted at</th>
                        <th>status</th>
                        <th>action</th>
                    </tr>
                </thead>
                <tbody>
                {% for task in tasks %}
                    <tr>
                        <td>
                            {{ task.id }}
                        </td>
                        <td>
                            <h5 class="m-0 font-weight-normal">{{ task.title }}</h5>
                        </td>
                        <td>
                            {{ task.priority }}
                        </td>
                        <td>
                            {{ task.delivery_boy }}
                        </td>
                        <td>
                            {{ task.created_at }}
                        </td>
                        <td>
                            {{ task.accepted_at }}
                        </td>
                        <td>
                            {{ task.status }}
{#                            {% if task.status %}#}
{#                                {% if task.status == 'ACCEPTED' %}#}
{#                                    <td class="text-info">{{ task.status }}</td>#}
{#                                {% else %}{% endif %}#}
{#                                {% if task.status == 'DELIVERED' %}#}
{#                                    <td class="text-success">{{ task.status }}</td>#}
{#                                {% else %}{% endif %}#}
{#                                {% if task.status == 'REJECTED' %}#}
{#                                    <td class="text-danger">{{ task.status }}</td>#}
{#                                {% else %}{% endif %}#}
{#                                {% if task.status == 'PICKUP' %}#}
{#                                    <td class="text-success">{{ task.status }}</td>#}
{#                                {% else %}{% endif %}#}
{#                           {% endif %}#}
                        </td>
                        <td>
                            <button class="btn btn-danger">modify</button>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
</div>
{% endblock page %}