{% extends 'store/base.html' %}
{% load crispy_forms_tags %}
{% block title %} seller information update {% endblock title %}

{% block pagetitle %} update your information {% endblock pagetitle %}

{% block page %}
<div class="card">
<div class="card-body">
    <div class="card-widgets">
        <a href="javascript: void(0);" data-toggle="reload"><i class="mdi mdi-refresh"></i></a>
        <a data-toggle="collapse" href="#cardCollpase5" role="button" aria-expanded="false" aria-controls="cardCollpase5"><i class="mdi mdi-minus"></i></a>
        <a href="javascript: void(0);" data-toggle="remove"><i class="mdi mdi-close"></i></a>
    </div>
    <div id="cardCollpase5" class="collapse pt-3 show">
        <div class="table-responsive">
            <table class="table table-hover table-centered mb-0">
                <form method="POST">
                    {% csrf_token %}
                    {{ store_form|crispy }}
                    <button type="submit" class="btn btn-success">update</button>
                </form>
            </table>
        </div>
    </div>
</div>
</div>
{% endblock page %}
