{% load static %}
{% load staticfiles %}
<footer class="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                2020 &copy; all rights reserved<a href="https://about.me/mdallrabbi"><b>gobd.delivery</b></a>
            </div>
        </div>
    </div>
</footer>