{% load static %}
{% load staticfiles %}
{% url 'deliver_tasks' as deliver_tasks_url %}
{% url 'delivery_boy_account' as delivery_boy_url %}

<!-- ========== Left Sidebar Start ========== -->
<div class="left-side-menu">

    <div class="slimscroll-menu">

        <!-- User box -->
        <div class="user-box text-center">
            <img src="{% static 'assets/images/users/avatar.jpg' %}" alt="user-img" title="Mat Helme" class="rounded-circle avatar-md">
            <div class="dropdown">
                {% firstof request.user.get_short_name request.user.get_username %}
            </div>
            <p class="text-muted">regular rider</p>
        </div>

        <!--- Sidemenu -->
        <div id="sidebar-menu">

            <ul class="metismenu" id="side-menu">
                <li>
                    <a href="#">
                        <i class="fe-airplay"></i>
                        <span class="badge badge-success badge-pill float-right"></span>
                        <span>dashboard</span>
                    </a>
                </li>

                <li>
                    <a href="{% url 'delivery_boy_home' %}">
                        <i class="fe-cloud"></i>
                        <span>delivery boy zone</span>
                    </a>
                </li>

                <li>
                    <a href="{% url 'deliver_tasks' %}">
                        <i class="fe-folder-plus"></i>
                        <span>accept orders</span>
                    </a>
                </li>

                <li>
                    <a href="#">
                        <i class="fe-shopping-cart"></i>
                        <span>run sheet</span>
                    </a>
                </li>

                <li>
                    <a href="{% url 'delivery_boy_account' %}">
                        <i class="fe-package"></i>
                        <span>update account</span>
                    </a>
                </li>

                <li>
                    <a href="{% url 'delivery_boy-signin' %}">
                        <i class="fe-user"></i>
                        <span>logout</span>
                    </a>
                </li>

            </ul>

        </div>
        <!-- End Sidebar -->

        <div class="clearfix"></div>

    </div>
    <!-- Sidebar -left -->

</div>
<!-- Left Sidebar End -->





{#<div class="dropdown-menu user-pro-dropdown">#}
{##}
{#    <!-- item-->#}
{#    <a href="{% url 'delivery_boy_info' %}" class="dropdown-item notify-item">#}
{#        <i class="fe-user mr-1"></i>#}
{#        <span>my account</span>#}
{#    </a>#}
{##}
{#    <!-- item-->#}
{#    <a href="{% url 'update_delivery_boy' %}" class="dropdown-item notify-item">#}
{#        <i class="fe-settings mr-1"></i>#}
{#        <span>update account</span>#}
{#    </a>#}
{##}
{#    <!-- item-->#}
{#    <a href="{% url 'delivery_boy-signin' %}" class="dropdown-item notify-item">#}
{#        <i class="fe-log-out mr-1"></i>#}
{#        <span>logout</span>#}
{#    </a>#}
{#</div>#}