{% extends 'base.html' %}

{% block page %}
    <table  class="table table-hover">
        <thead class="thead-dark">
        <tr>
            <th>delivery boy ID</th>
            <th>delivery boy Name</th>
            <th>Contact No</th>
            <th>Email</th>

        </tr>

        </thead>
        {% for data in deliveryboyupdate %}
            <tr>
                <td> {{ data.user_id }}</td>
                <td> {{ data.name }} </td>
                <td> {{ data.number }} </td>
                <td> {{ data.email }} </td>

            </tr>
        {% endfor %}
     </table>
{% endblock page %}