{% extends 'deliver/base.html' %}
{% block pagetitle %}delivery tasks{% endblock pagetitle %}
{% block page %}
<div class="card">
<div class="card-body">
    <div class="card-widgets">
        <a href="javascript: void(0);" data-toggle="reload"><i class="mdi mdi-refresh"></i></a>
        <a data-toggle="collapse" href="#cardCollpase5" role="button" aria-expanded="false" aria-controls="cardCollpase5"><i class="mdi mdi-minus"></i></a>
        <a href="javascript: void(0);" data-toggle="remove"><i class="mdi mdi-close"></i></a>
    </div>
    <div id="cardCollpase5" class="collapse pt-3 show">
        <div class="table-responsive">
            <table class="table table-hover table-centered mb-0">
                <thead class="thead-light">
                        <tr>
                            <th>id</th>
                            <th>date</th>
                            <th>product title</th>
                            <th>contact number</th>
                            <th>delivery location</th>
                            <th>seller</th>
                            <th>priority</th>
                            <th>action</th>
                            <th>status</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for task in tasks %}
                        <tr>
                            <td>
                                {{ task.id }}
                            </td>
                            <td>
                                {{ task.created_at }}
                            </td>
                            <td>
                                <h5 class="m-0 font-weight-normal">{{ task.title }}</h5>
                            </td>
                            <td>
                                {{ task.customer_contact_no }}
                            </td>
                            <td>
                                {{ task.delivery_location }}
                            </td>
                            <td>
                                {{ task.store }}
                            </td>
                            <td>
                                {{ task.priority }}
                            </td>
                            <td>
                                <!-- Example split danger button -->
                                <div class="btn-group">
                                  <button type="button" class="btn btn-info">UPDATE</button>
                                  <button type="button" class="btn btn-info dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <span class="sr-only">Dropdown</span>
                                  </button>
                                  <div class="dropdown-menu">
                                    <button class="btn btn-success" onclick="AcceptTask({{task.id}})">PICKED UP</button>
                                    <div class="dropdown-divider"></div>
                                    <button class="btn btn-danger" onclick="RejectTask({{task.id}})">REJECT</button>
                                    <div class="dropdown-divider"></div>
                                    <button class="btn btn-primary" onclick="CompletedTask({{task.id}})">DELIVERED</button>
                                    <div class="dropdown-divider"></div>
                                  </div>
                                </div>
{#                                <button class="btn btn-success" onclick="AcceptTask({{task.id}})">PICKUP</button>#}
{#                                <button class="btn btn-danger" onclick="RejectTask({{task.id}})">REJECT</button>#}
{#                                <button class="btn btn-primary" onclick="CompletedTask({{task.id}})">DELIVERED</button>#}
                            </td>
                            <td>
                                {{task.status}}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
            </table>
        </div>
    </div>
</div>
</div>


<div class="card">
<div class="card-body">
    <div class="card-widgets">
        <a href="javascript: void(0);" data-toggle="reload"><i class="mdi mdi-refresh"></i></a>
        <a data-toggle="collapse" href="#cardCollpase5" role="button" aria-expanded="false" aria-controls="cardCollpase5"><i class="mdi mdi-minus"></i></a>
        <a href="javascript: void(0);" data-toggle="remove"><i class="mdi mdi-close"></i></a>
    </div>
    <div id="cardCollpase5" class="collapse pt-3 show">
        <div class="table-responsive">
            <table class="table table-hover table-centered mb-0">
                <thead class="thead-light">
                    <tr>
                        <th>id</th>
                        <th>date</th>
                        <th>product title</th>
                        <th>contact number</th>
                        <th>delivery location</th>
                        <th>seller</th>
                        <th>rejected</th>
                        <th>reshedule</th>
                        <th>delivered</th>
                        <th>status</th>
                    </tr>
                </thead>
                <tbody>
                {% for task in accepted_tasks %}
                    <tr>
                        <td>
                            {{ task.id }}
                        </td>
                        <td>
                                {{ task.created_at }}
                            </td>
                        <td>
                            <h5 class="m-0 font-weight-normal">{{ task.title }}</h5>
                        </td>
                        <td>
                            {{ task.customer_contact_no }}
                        </td>
                        <td>
                            {{ task.delivery_location }}
                        </td>
                        <td>
                            {{ task.store }}
                        </td>
                        <td>
                            <button class="btn btn-danger" onclick="RejectTask({{task.id}})">reject</button>
                        </td>
                        <td>
                            <button class="btn btn-success" onclick="ResheduleTask({{ task.id }}">reshedule</button>
                        </td>
                        <td>
                            <button class="btn btn-primary" onclick="CompletedTask({{task.id}})">delivered</button>
                        </td>
                        <td>
                            {{task.status}}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
</div>


<div class="card">
<div class="card-body">
    <div class="card-widgets">
        <a href="javascript: void(0);" data-toggle="reload"><i class="mdi mdi-refresh"></i></a>
        <a data-toggle="collapse" href="#cardCollpase5" role="button" aria-expanded="false" aria-controls="cardCollpase5"><i class="mdi mdi-minus"></i></a>
        <a href="javascript: void(0);" data-toggle="remove"><i class="mdi mdi-close"></i></a>
    </div>
    <div id="cardCollpase5" class="collapse pt-3 show">
        <div class="table-responsive">
            <table class="table table-hover table-centered mb-0">
                <thead class="thead-light">
                    <tr>
                        <th>id</th>
                        <th>date</th>
                        <th>product title</th>
                        <th>contact number</th>
                        <th>delivery location</th>
                        <th>seller</th>
                        <th>delivered</th>

                    </tr>
                </thead>
                <tbody>
                {% for task in completed_tasks %}
                    <tr>
                        <td>
                            {{ task.id }}
                        </td>
                        <td>
                                {{ task.created_at }}
                            </td>
                        <td>
                            <h5 class="m-0 font-weight-normal">{{ task.title }}</h5>
                        </td>
                        <td>
                            {{ task.customer_contact_no }}
                        </td>
                        <td>
                            {{ task.delivery_location }}
                        </td>
                        <td>
                            {{ task.store }}
                        </td>
                        <td>
                            {{task.status}}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
</div>


<script type="text/javascript">
    function AcceptTask(id){
        // alert(id)
        $.ajax({
            url: '/api/deliver/task/accept/',
            data: {
                'task_id': id
            },
            dataType: 'json',
            success: function(result){
                alert(result.result);
            },
            error: function(result){
                alert('error');
            }
        });
    }
    function RejectTask(id){
        $.ajax({
            url: '/api/deliver/task/reject/',
            data: {
                'task_id': id
            },
            dataType: 'json',
            success: function(result){
                alert(result.status);
            },
            error: function(result){
                alert(result.status);
            }
        });
    }
       function ResheduleTask(id){
        $.ajax({
            url: '/api/deliver/task/resudule/',
            data: {
                'task_id': id
            },
            dataType: 'json',
            success: function(result){
                alert(result.status);
            },
            error: function(result){
                alert(result.status);
            }
        });
    }
    function CompletedTask(id){
        $.ajax({
            url: '/api/deliver/task/complete/',
            data: {
                'task_id': id
            },
            dataType: 'json',
            success: function(result){
                alert(result.status);
            },
            error: function(result){
                alert(result.status);
            }
        });
    }
</script>


{% endblock page %}