{% load static %}
{% load staticfiles %}
<div class="left-side-menu">
    <div class="slimscroll-menu">
        <div id="sidebar-menu">
            <div class="user-box text-center">
            <img src="{% static 'assets/images/users/avater.png' %}" alt="user-img" title="Mat Helme" class="rounded-circle avatar-md">
                <div class="dropdown">
                   {% firstof request.user.get_short_name request.user.get_username %}
                </div>
            <p class="text-muted">golden client</p>
            </div>


            <ul class="metismenu" id="side-menu">

                <li>
                    <a href="#">
                        <i class="fe-airplay"></i>
                        <span class="badge badge-success badge-pill float-right"></span>
                        <span>dashboard</span>
                    </a>
                </li>

                <li>
                    <a href="{% url 'store_home' %}">
                        <i class="fe-cloud"></i>
                        <span>seller zone</span>
                    </a>
                </li>

                <li>
                    <a href="{% url 'create_task' %}">
                        <i class="fe-folder-plus"></i>
                        <span>new order</span>
                    </a>
                </li>

                <li>
                    <a href="{% url 'store_tasks' %}">
                        <i class="fe-shopping-cart"></i>
                        <span>order list</span>
                    </a>
                </li>

                <li>
                    <a href="{% url 'update_store' %}">
                        <i class="fe-package"></i>
                        <span>update account</span>
                    </a>
                </li>

                <li>
                    <a href="{% url 'store-signin' %}">
                        <i class="fe-user"></i>
                        <span>logout</span>
                    </a>
                </li>

            </ul>


        </div>


        <div class="clearfix"></div>


    </div>
</div>