{% load static %}
{% load staticfiles %}
<!-- ========== Left Sidebar Start ========== -->
<div class="left-side-menu">

    <div class="slimscroll-menu">

        <!-- User box -->
        <div class="user-box text-center">
            <img src="{% static 'assets/images/users/avatar.jpg' %}" alt="user-img" title="Mat Helme" class="rounded-circle avatar-md">
            <div class="dropdown">
                <a href="javascript: void(0);" class="text-dark dropdown-toggle h5 mt-2 mb-1 d-block" data-toggle="dropdown">
                    {% firstof request.user.get_short_name request.user.get_username %}
                </a>

                <div class="dropdown-menu user-pro-dropdown">

                    <!-- item-->
                    <a href="{% url 'store_info' %}" class="dropdown-item notify-item">
                        <i class="fe-user mr-1"></i>
                        <span>my account</span>
                    </a>

                    <!-- item-->
                    <a href="{% url 'update_store' %}" class="dropdown-item notify-item">
                        <i class="fe-settings mr-1"></i>
                        <span>update account</span>
                    </a>

                    <!-- item-->
                    <a href="{% url 'store-signin' %}" class="dropdown-item notify-item">
                        <i class="fe-log-out mr-1"></i>
                        <span>logout</span>
                    </a>

                </div>
            </div>
            <p class="text-muted">golden client</p>
        </div>

        <!--- Sidemenu -->
        <div id="sidebar-menu">

            <ul class="metismenu" id="side-menu">

                <li class="menu-title">menu</li>

                <li>
                    <a href="#">
                        <i class="fe-airplay"></i>
                        <span class="badge badge-success badge-pill float-right"></span>
                        <span>dashboard</span>
                    </a>
                </li>

                <li>
                    <a href="{% url 'store_home' %}">
                        <i class="fe-cloud"></i>
                        <span>seller zone</span>
                    </a>
                </li>

                <li>
                    <a href="{% url 'create_task' %}">
                        <i class="fe-folder-plus"></i>
                        <span>new order</span>
                    </a>
                </li>

                <li>
                    <a href="{% url 'store_tasks' %}">
                        <i class="fe-shopping-cart"></i>
                        <span>order list</span>
                    </a>
                </li>

                <li>
                    <a href="{% url 'update_store' %}">
                        <i class="fe-package"></i>
                        <span>update account</span>
                    </a>
                </li>

                <li>
                    <a href="{% url 'store-signin' %}">
                        <i class="fe-user"></i>
                        <span>logout</span>
                    </a>
                </li>

            </ul>

        </div>
        <!-- End Sidebar -->

        <div class="clearfix"></div>

    </div>
    <!-- Sidebar -left -->

</div>
<!-- Left Sidebar End -->