{% load static %}
{% load staticfiles %}
<div class="navbar-custom navbar-custom-light">
    <ul class="list-unstyled topnav-menu float-right mb-0">

        <li class="d-none d-sm-block">
            <form class="app-search">
                <div class="app-search-box">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search...">
                        <div class="input-group-append">
                            <button class="btn" type="submit">
                                <i class="fe-search"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </li>


        <li class="dropdown notification-list">
            <a class="nav-link dropdown-toggle nav-user mr-0 waves-effect" data-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">
                <img src="{% static 'assets/images/users/avater.png' %}" alt="user-image" class="rounded-circle">
                <span class="pro-user-name ml-1">
                    {% firstof request.user.get_short_name request.user.get_username %}
                    <i class="mdi mdi-chevron-down"></i>
                </span>
            </a>
            <div class="dropdown-menu dropdown-menu-right profile-dropdown ">
                <!-- item-->
                <div class="dropdown-header noti-title">
                    <h6 class="text-overflow m-0">welcome</h6>
                </div>

                <!-- item-->
{#                <a href="{% url 'delivery_boy_info' %}" class="dropdown-item notify-item">#}
{#                    <i class="fe-user mr-1"></i>#}
{#                    <span>my account</span>#}
{#                </a>#}

                <!-- item-->
                <a href="{% url 'delivery_boy_account' %}" class="dropdown-item notify-item">
                    <i class="fe-settings mr-1"></i>
                    <span>update account</span>
                </a>

                <!-- item-->
                <a href="{% url 'delivery_boy-signin' %}" class="dropdown-item notify-item">
                    <i class="fe-log-out mr-1"></i>
                    <span>logout</span>
                </a>
            </div>
        </li>
    </ul>


    <!-- LOGO -->
    <div class="logo-box">
        <a href="{% url 'home' %}" class="logo text-center">
            <span class="logo-lg">
                <img src="{% static 'assets/images/logo.png' %}" alt="" height="80">
                <!-- <span class="logo-lg-text-light">UBold</span> -->
            </span>
            <span class="logo-sm">
                <!-- <span class="logo-sm-text-dark">U</span> -->
                <img src="{% static 'assets/images/logo.png' %}" alt="" height="50">
            </span>
        </a>
    </div>

    <ul class="list-unstyled topnav-menu topnav-menu-left m-0">
        <li>
            <button class="button-menu-mobile waves-effect waves-light">
                <i class="fe-menu"></i>
            </button>
        </li>
    </ul>

</div>