{% load static %}
{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
    <head>
        {% block head %}
        <meta charset="utf-8" />
        <meta name="csrf-token" content="{{csrf_token}}">
        <title>{% block title %} gobd.delivery dashboard {% endblock title %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta content="A fully featured admin theme which can be used to build CRM, CMS, etc." name="description" />
        <meta content="Coderthemes" name="author" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <link rel="shortcut icon" href="{% static 'assets/images/favicon.ico' %}">
        <link href="{% static 'assets/libs/jquery-vectormap/jquery-vectormap.min.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'assets/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'assets/css/icons.min.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'assets/css/app.min.css' %}" rel="stylesheet" type="text/css" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        {% endblock head %}
    </head>

    <body>
        <div id="wrapper">
        {% block topbar %}
            {% include "./partials/topbar-light.html" %}
        {% endblock topbar %}

        {% block storesidebar %}
            {% include "./partials/left-sidebar.html" %}
        {% endblock storesidebar %}


            <!-- ============================================================== -->
            <!-- Start Page Content here -->
            <!-- ============================================================== -->

            <div class="content-page">
                <div class="content">
                    <div class="container-fluid">
                        <!-- start page title -->
                        <div class="row">
                            <div class="col-12">
                                <div class="page-title-box">
                                    <div class="page-title-right">
                                        <form class="form-inline">
                                            <div class="form-group">
                                                <div class="input-group input-group-sm">
                                                    <input type="text" class="form-control border-white" id="dash-daterange">
                                                    <div class="input-group-append">
                                                        <span class="input-group-text bg-blue border-blue text-white">
                                                            <i class="mdi mdi-calendar-range font-13"></i>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                            <a href="javascript: void(0);" class="btn btn-blue btn-sm ml-2">
                                                <i class="mdi mdi-autorenew"></i>
                                            </a>
                                            <a href="javascript: void(0);" class="btn btn-blue btn-sm ml-1">
                                                <i class="mdi mdi-filter-variant"></i>
                                            </a>
                                        </form>
                                    </div>

                                    <h4 class="page-title">
                                        {% block pagetitle %}
                                            seller dashboard
                                        {% endblock pagetitle %}
                                    </h4>

                                </div>
                            </div>
                        </div>
                        <!-- end page title -->

                        {% block page %}

                        {% endblock page %}

{#                   #}

                    </div> <!-- container -->
                </div> <!-- content -->

                {% block footer %}
                {% include './partials/footer.html' %}
                {% endblock footer %}

            </div>
            <!-- ============================================================== -->
            <!-- End Page content -->
            <!-- ============================================================== -->
        </div>

        {% block js %}
        <!-- Vendor js -->
        <script src="{% static 'assets/js/vendor.min.js'%}"></script>
        <!-- App js-->
        <script src="{% static 'assets/js/app.min.js'%}"></script>
        <!-- Dashboar 1 init js-->
        <!-- Plugins js-->
        <script src="{% static 'assets/libs/jquery-sparkline/jquery-sparkline.min.js' %}"></script>
        <script src="{% static 'assets/libs/jquery-vectormap/jquery-vectormap.min.js' %}"></script>

        <!-- Dashboard 2 init -->
        <script src="{% static 'assets/js/pages/dashboard-2.init.js' %}"></script>
        {% endblock js %}
    </body>
</html>