{% extends 'base.html' %}
{% block title %} delivery order information {% endblock title %}
{% block page %}
<div class="card">
<div class="card-body">
    <div class="card-widgets">
        <a href="javascript: void(0);" data-toggle="reload"><i class="mdi mdi-refresh"></i></a>
        <a data-toggle="collapse" href="#cardCollpase5" role="button" aria-expanded="false" aria-controls="cardCollpase5"><i class="mdi mdi-minus"></i></a>
        <a href="javascript: void(0);" data-toggle="remove"><i class="mdi mdi-close"></i></a>
    </div>
    <div id="cardCollpase5" class="collapse pt-3 show">
        <div class="table-responsive">
            <table class="table table-hover table-centered mb-0">
                <thead class="thead-primary">
                <tr>
                    <th>ID</th>
                    <th>Date</th>
                    <th>Product Detail</th>
                    <th>Customer</th>
                    <th>Order Type</th>
                    <th>Location</th>
                    <th>Tracking Status</th>
                    <th>Customer Contact Number</th>
                    <th>Order Info</th>
                    <th>Payment</th>
                    <th>Product Price</th>
                    <th>Seller Payment</th>
                </tr>
            </thead>
            <tbody>
            {% for task in tasks %}
                <tr>
                    <td>
                        {{ task.id }}
                    </td>
                    <td>
                        {{ task.created_at }}
                    </td>
                    <td>
                        <button type="button" class="btn btn-outline-warning">
                      {{ task.title }}
                            </button>
                    </td>
                    <td>
                        <button type="button" class="btn btn-outline-success">
                        {{ task.customer_name }}
                        </button>
                    </td>
                    <td>
                        <button type="button" class="btn btn-outline-info">
                        {{ task.priority }}
                        </button>
                    </td>
                    <td>
                        <button type="button" class="btn btn-outline-pink">
                        {{ task.delivery_location }}
                        </button>
                    </td>
                    <td>
                        <button type="button" class="btn btn-outline-primary">
                        {{ task.status }}
{#                            {% if order.status %}#}
{#                                {% if order.status == 'ACCEPTED' %}#}
{#                                    <td class="text-info">{{ order.status }}</td>#}
{#                                {% else %}{% endif %}#}
{#                                {% if order.status == 'PICKUP' %}#}
{#                                    <td class="text-success">{{ order.status }}</td>#}
{#                                {% else %}{% endif %}#}
{#                                {% if order.status == 'DELIVERED' %}#}
{#                                    <td class="text-danger">{{ order.status }}</td>#}
{#                                {% else %}{% endif %}#}
{#                                {% if order.status == 'CANCELLED' %}#}
{#                                    <td class="text-warning">{{ order.status }}</td>#}
{#                                {% else %}{% endif %}#}
{#                                {% if order.status == 'RETURN' %}#}
{#                                    <td class="text-success">{{ order.status }}</td>#}
{#                                {% else %}{% endif %}#}
{#                            {% endif %}#}
                        </button>
                    </td>
                    <td>
                        <button type="button"class="btn btn-danger" >{{task.customer_contact_no}}</button>
                    </td>
                    <td>
                        <a href="{{ task.get_absolute_url }}"><button class="btn btn-success">PRINT</button></a>
                    </td>
                    <td>
                        <button type="button" class="btn btn-info">
{#                                <i class="mdi mdi-pencil">#}
                                {{ task.payment_type }}
{#                                </i>#}
                        </button>
                    </td>
                 <td>
                        <button type="button" class="btn btn-outline-pink">
                        {{ task.product_price }}
                        </button>
                    </td>
                 <td>
                        <button type="button" class="btn btn-primary">
                        {{ task.seller_payment }}
                        </button>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
            </table>
        </div>
    </div>
</div>
</div>


<script type="text/javascript">
    function cancelTask(id){
         $.ajax({
            url : '/api/store/cancel_task/',
            data : {
                'task_id': id
            },
            dataType: 'json',
            success: function(result){
                alert("Task was canceld");
            },
            error: function(result){
                alert('error');
            }
         });
    }

    function TaskDetails(id){
         $.ajax({
            url : '/api/store/task_details/',
            data : {
                'task_id': id
            },
            dataType: 'json',
            success: function(result){
                alert(result);
            },
            error: function(result){
                alert('error');
            }
         });
    }
</script>


{% endblock page %}

{#<div class="row">#}
{#<div class="col-xl-12">#}
{#    <div class="card-box">#}
{#        <h4 class="header-title mb-3">delivery orders</h4>#}
{#        <div class="modal fade" id="myModal" role="dialog">#}
{#            <div class="modal-dialog">#}
{#                <!-- Modal content-->#}
{#                <div class="modal-content">#}
{#                    <div class="modal-header">#}
{#                        <button type="button" class="close" data-dismiss="modal">&times;</button>#}
{#                        <h4 class="modal-title">{{task.id}}</h4>#}
{#                    </div>#}
{#                    <div class="modal-body">#}
{#                        <p>Some text in the modal.</p>#}
{#                    </div>#}
{#                    <div class="modal-footer">#}
{#                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{#</div>#}
{#</div>#}

