{% extends 'base_signup.html' %}
{% load crispy_forms_tags %}
{% block title %}seller sign up{% endblock %}
{% block heading %}sign up for gobd.delivery {% endblock %}

{% block content %}
  <form method="POST">
      {% csrf_token %}
      {{ form|crispy }}
      <button class="btn btn-success">signup</button>
  </form>
  <br>
  <a href="{% url 'store-signin' %}">already have an account?</a>
{% endblock content %}