{% load static %}
{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
    <head>
        {% block head %}
        <meta charset="utf-8" />
        <meta name="csrf-token" content="{{csrf_token}}">
        <title>{% block title %} gobd.delivery dashboard {% endblock title %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta content="A fully featured admin theme which can be used to build CRM, CMS, etc." name="description" />
        <meta content="Coderthemes" name="author" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <link rel="shortcut icon" href="{% static 'assets/images/favicon.ico' %}">
        <link href="{% static 'assets/libs/jquery-vectormap/jquery-vectormap.min.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'assets/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'assets/css/icons.min.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'assets/css/app.min.css' %}" rel="stylesheet" type="text/css" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        {% endblock head %}
    </head>

    <body>
        <div id="wrapper">
        {% block topbar %}
            {% include "./partials/topbar-light.html" %}
        {% endblock topbar %}

        {% block storesidebar %}
            {% include "./partials/left-sidebar.html" %}
        {% endblock storesidebar %}


            <!-- ============================================================== -->
            <!-- Start Page Content here -->
            <!-- ============================================================== -->

            <div class="content-page">
                <div class="content">
                    <div class="container-fluid">
                        <!-- start page title -->
                        <div class="row">
                            <div class="col-12">
                                <div class="page-title-box">
                                    <div class="page-title-right">
                                        <form class="form-inline">
                                            <div class="form-group">
                                                <div class="input-group input-group-sm">
                                                    <input type="text" class="form-control border-white" id="dash-daterange">
                                                    <div class="input-group-append">
                                                        <span class="input-group-text bg-blue border-blue text-white">
                                                            <i class="mdi mdi-calendar-range font-13"></i>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                            <a href="javascript: void(0);" class="btn btn-blue btn-sm ml-2">
                                                <i class="mdi mdi-autorenew"></i>
                                            </a>
                                            <a href="javascript: void(0);" class="btn btn-blue btn-sm ml-1">
                                                <i class="mdi mdi-filter-variant"></i>
                                            </a>
                                        </form>
                                    </div>

                                    <h4 class="page-title">
                                        {% block pagetitle %}
                                            seller dashboard
                                        {% endblock pagetitle %}
                                    </h4>

                                </div>
                            </div>
                        </div>
                        <!-- end page title -->

                        {% block page %}

                        {% endblock page %}

{#                        {% block others %}#}
{#                        <div class="row">#}
{#                            <div class="col-xl-12">#}
{#                                <div class="card">#}
{#                                    <div class="card-body">#}
{#                                        <div class="card-widgets">#}
{#                                            <a href="javascript: void(0);" data-toggle="reload"><i class="mdi mdi-refresh"></i></a>#}
{#                                            <a data-toggle="collapse" href="#cardCollpase5" role="button" aria-expanded="false" aria-controls="cardCollpase5"><i class="mdi mdi-minus"></i></a>#}
{#                                            <a href="javascript: void(0);" data-toggle="remove"><i class="mdi mdi-close"></i></a>#}
{#                                        </div>#}
{##}
{#                                        <h4 class="header-title mb-0">#}
{#                                        </h4>#}
{##}
{#                                        <div id="cardCollpase5" class="collapse pt-3 show">#}
{##}
{#                                            <div class="table-responsive">#}
{#                                                <table class="table table-hover table-centered mb-0">#}
{#                                                    <thead>#}
{#                                                        <tr>#}
{#                                                            <th>Product Name</th>#}
{#                                                            <th>Price</th>#}
{#                                                            <th>Quantity</th>#}
{#                                                            <th>Amount</th>#}
{#                                                        </tr>#}
{#                                                    </thead>#}
{#                                                    <tbody>#}
{#                                                        <tr>#}
{#                                                            <td>ASOS Ridley High Waist</td>#}
{#                                                            <td>$79.49</td>#}
{#                                                            <td>82</td>#}
{#                                                            <td>$6,518.18</td>#}
{#                                                        </tr>#}
{#                                                        <tr>#}
{#                                                            <td>Marco Lightweight Shirt</td>#}
{#                                                            <td>$128.50</td>#}
{#                                                            <td>37</td>#}
{#                                                            <td>$4,754.50</td>#}
{#                                                        </tr>#}
{#                                                        <tr>#}
{#                                                            <td>Half Sleeve Shirt</td>#}
{#                                                            <td>$39.99</td>#}
{#                                                            <td>64</td>#}
{#                                                            <td>$2,559.36</td>#}
{#                                                        </tr>#}
{#                                                        <tr>#}
{#                                                            <td>Lightweight Jacket</td>#}
{#                                                            <td>$20.00</td>#}
{#                                                            <td>184</td>#}
{#                                                            <td>$3,680.00</td>#}
{#                                                        </tr>#}
{#                                                        <tr>#}
{#                                                            <td>Marco Shoes</td>#}
{#                                                            <td>$28.49</td>#}
{#                                                            <td>69</td>#}
{#                                                            <td>$1,965.81</td>#}
{#                                                        </tr>#}
{#                                                        <tr>#}
{#                                                            <td>ASOS Ridley High Waist</td>#}
{#                                                            <td>$79.49</td>#}
{#                                                            <td>82</td>#}
{#                                                            <td>$6,518.18</td>#}
{#                                                        </tr>#}
{#                                                        <tr>#}
{#                                                            <td>Half Sleeve Shirt</td>#}
{#                                                            <td>$39.99</td>#}
{#                                                            <td>64</td>#}
{#                                                            <td>$2,559.36</td>#}
{#                                                        </tr>#}
{#                                                        <tr>#}
{#                                                            <td>Lightweight Jacket</td>#}
{#                                                            <td>$20.00</td>#}
{#                                                            <td>184</td>#}
{#                                                            <td>$3,680.00</td>#}
{#                                                        </tr>#}
{#                                                    </tbody>#}
{#                                                </table>#}
{#                                            </div> <!-- end table responsive-->#}
{#                                        </div> <!-- collapsed end -->#}
{#                                    </div>#}
{#                                    </div> <!-- end card-body -->#}
{#                                </div> <!-- end card-->#}
{#                            </div> <!-- end col -->#}
{#                        </div>#}
{#                        <!-- end row -->#}
{##}
{#                        <div class="row">#}
{#                            <div class="col-md-6 col-xl-3">#}
{#                                <div class="card-box">#}
{#                                    <div class="row">#}
{#                                        <div class="col-6">#}
{#                                            <div class="avatar-sm bg-blue rounded">#}
{#                                                <i class="fe-aperture avatar-title font-22 text-white"></i>#}
{#                                            </div>#}
{#                                        </div>#}
{#                                        <div class="col-6">#}
{#                                            <div class="text-right">#}
{#                                                <h3 class="text-dark my-1">bdt  <span data-plugin="counterup">0.0</span></h3>#}
{#                                                <p class="text-muted mb-1 text-truncate">seller payments</p>#}
{#                                            </div>#}
{#                                        </div>#}
{#                                    </div>#}
{#                                    <div class="mt-3">#}
{#                                        <h6 class="text-uppercase">complete <span class="float-right">60%</span></h6>#}
{#                                        <div class="progress progress-sm m-0">#}
{#                                            <div class="progress-bar bg-blue" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%">#}
{#                                                <span class="sr-only">60% complete</span>#}
{#                                            </div>#}
{#                                        </div>#}
{#                                    </div>#}
{#                                </div> <!-- end card-box-->#}
{#                            </div> <!-- end col -->#}
{##}
{##}
{#                            <div class="col-md-6 col-xl-3">#}
{#                                <div class="card-box">#}
{#                                    <div class="row">#}
{#                                        <div class="col-6">#}
{#                                            <div class="avatar-sm bg-warning rounded">#}
{#                                                <i class="fe-bar-chart-2 avatar-title font-22 text-white"></i>#}
{#                                            </div>#}
{#                                        </div>#}
{#                                        <div class="col-6">#}
{#                                            <div class="text-right">#}
{#                                                <h3 class="text-dark my-1">bdt  <span data-plugin="counterup">0</span></h3>#}
{#                                                <p class="text-muted mb-1 text-truncate">pending payment</p>#}
{#                                            </div>#}
{#                                        </div>#}
{#                                    </div>#}
{#                                    <div class="mt-3">#}
{#                                        <h6 class="text-uppercase">complete <span class="float-right">18%</span></h6>#}
{#                                        <div class="progress progress-sm m-0">#}
{#                                            <div class="progress-bar bg-warning" role="progressbar" aria-valuenow="18" aria-valuemin="0" aria-valuemax="100" style="width: 18%">#}
{#                                                <span class="sr-only">18% complete</span>#}
{#                                            </div>#}
{#                                        </div>#}
{#                                    </div>#}
{#                                </div> <!-- end card-box-->#}
{#                            </div> <!-- end col -->#}
{##}
{#                            <div class="col-md-6 col-xl-3">#}
{#                                <div class="card-box">#}
{#                                    <div class="row">#}
{#                                        <div class="col-6">#}
{#                                            <div class="avatar-sm bg-success rounded">#}
{#                                                <i class="fe-shopping-cart avatar-title font-22 text-white"></i>#}
{#                                            </div>#}
{#                                        </div>#}
{#                                        <div class="col-6">#}
{#                                            <div class="text-right">#}
{#                                                <h3 class="text-dark my-1"><span data-plugin="counterup">0</span></h3>#}
{#                                                <p class="text-muted mb-1 text-truncate">delivery orders</p>#}
{#                                            </div>#}
{#                                        </div>#}
{#                                    </div>#}
{#                                    <div class="mt-3">#}
{#                                        <h6 class="text-uppercase">completed <span class="float-right">49%</span></h6>#}
{#                                        <div class="progress progress-sm m-0">#}
{#                                            <div class="progress-bar bg-success" role="progressbar" aria-valuenow="49" aria-valuemin="0" aria-valuemax="100" style="width: 49%">#}
{#                                                <span class="sr-only">49% complete</span>#}
{#                                            </div>#}
{#                                        </div>#}
{#                                    </div>#}
{#                                </div> <!-- end card-box-->#}
{#                            </div> <!-- end col -->#}
{##}
{##}
{#                            <div class="col-md-6 col-xl-3">#}
{#                                <div class="card-box">#}
{#                                    <div class="row">#}
{#                                        <div class="col-6">#}
{#                                            <div class="avatar-sm bg-info rounded">#}
{#                                                <i class="fe-cpu avatar-title font-22 text-white"></i>#}
{#                                            </div>#}
{#                                        </div>#}
{#                                        <div class="col-6">#}
{#                                            <div class="text-right">#}
{#                                                <h3 class="text-dark my-1"><span data-plugin="counterup">0</span></h3>#}
{#                                                <p class="text-muted mb-1 text-truncate">available pickup</p>#}
{#                                            </div>#}
{#                                        </div>#}
{#                                    </div>#}
{#                                    <div class="mt-3">#}
{#                                        <h6 class="text-uppercase">Target <span class="float-right">74%</span></h6>#}
{#                                        <div class="progress progress-sm m-0">#}
{#                                            <div class="progress-bar bg-info" role="progressbar" aria-valuenow="74" aria-valuemin="0" aria-valuemax="100" style="width: 74%">#}
{#                                                <span class="sr-only">74% Complete</span>#}
{#                                            </div>#}
{#                                        </div>#}
{#                                    </div>#}
{#                                </div> <!-- end card-box-->#}
{#                            </div> <!-- end col -->#}
{#                        </div>#}
{#                        <!-- end row -->#}
{##}
{#                        <div class="row">#}
{#                            <div class="col-xl-6">#}
{#                                <!-- Portlet card -->#}
{#                                <div class="card">#}
{#                                    <div class="card-body">#}
{#                                        <div class="card-widgets">#}
{#                                            <a href="javascript: void(0);" data-toggle="reload"><i class="mdi mdi-refresh"></i></a>#}
{#                                            <a data-toggle="collapse" href="#cardCollpase1" role="button" aria-expanded="false" aria-controls="cardCollpase1"><i class="mdi mdi-minus"></i></a>#}
{#                                            <a href="javascript: void(0);" data-toggle="remove"><i class="mdi mdi-close"></i></a>#}
{#                                        </div>#}
{#                                        <h4 class="header-title mb-0">Lifetime Sales</h4>#}
{##}
{#                                        <div id="cardCollpase1" class="collapse pt-3 show">#}
{#                                            <div class="text-center">#}
{#                                                <div id="sparkline1"></div>#}
{##}
{#                                                <div class="row mt-3">#}
{#                                                    <div class="col-4">#}
{#                                                        <p class="text-muted font-15 mb-1 text-truncate">Target</p>#}
{#                                                        <h4><i class="fe-arrow-down text-danger mr-1"></i>$7.8k</h4>#}
{#                                                    </div>#}
{#                                                    <div class="col-4">#}
{#                                                        <p class="text-muted font-15 mb-1 text-truncate">Last week</p>#}
{#                                                        <h4><i class="fe-arrow-up text-success mr-1"></i>$1.4k</h4>#}
{#                                                    </div>#}
{#                                                    <div class="col-4">#}
{#                                                        <p class="text-muted font-15 mb-1 text-truncate">Last Month</p>#}
{#                                                        <h4><i class="fe-arrow-down text-danger mr-1"></i>$9.8k</h4>#}
{#                                                    </div>#}
{#                                                </div> <!-- end row -->#}
{#                                            </div>#}
{#                                        </div> <!-- collapsed end -->#}
{#                                    </div> <!-- end card-body -->#}
{#                                </div> <!-- end card-->#}
{#                            </div> <!-- end col-->#}
{##}
{#                            <div class="col-xl-6">#}
{#                                <div class="card">#}
{#                                    <div class="card-body">#}
{#                                        <div class="card-widgets">#}
{#                                            <a href="javascript: void(0);" data-toggle="reload"><i class="mdi mdi-refresh"></i></a>#}
{#                                            <a data-toggle="collapse" href="#cardCollpase2" role="button" aria-expanded="false" aria-controls="cardCollpase2"><i class="mdi mdi-minus"></i></a>#}
{#                                            <a href="javascript: void(0);" data-toggle="remove"><i class="mdi mdi-close"></i></a>#}
{#                                        </div>#}
{#                                        <h4 class="header-title mb-0">Income Amounts</h4>#}
{##}
{#                                        <div id="cardCollpase2" class="collapse pt-3 show">#}
{#                                            <div class="text-center">#}
{#                                                <div id="sparkline2"></div>#}
{#                                                <div class="row mt-3">#}
{#                                                    <div class="col-4">#}
{#                                                        <p class="text-muted font-15 mb-1 text-truncate">Target</p>#}
{#                                                        <h4><i class="fe-arrow-up text-success mr-1"></i>641</h4>#}
{#                                                    </div>#}
{#                                                    <div class="col-4">#}
{#                                                        <p class="text-muted font-15 mb-1 text-truncate">Last week</p>#}
{#                                                        <h4><i class="fe-arrow-down text-danger mr-1"></i>234</h4>#}
{#                                                    </div>#}
{#                                                    <div class="col-4">#}
{#                                                        <p class="text-muted font-15 mb-1 text-truncate">Last Month</p>#}
{#                                                        <h4><i class="fe-arrow-up text-success mr-1"></i>3201</h4>#}
{#                                                    </div>#}
{#                                                </div> <!-- end row -->#}
{#                                            </div>#}
{#                                        </div> <!-- collapsed end -->#}
{#                                    </div> <!-- end card-body -->#}
{#                                </div> <!-- end card-->#}
{#                            </div> <!-- end col-->#}
{#                        </div>#}
{#                        <!-- end row -->#}
{#                        {% endblock others %}#}

                    </div> <!-- container -->
                </div> <!-- content -->

                {% block footer %}
                {% include './partials/footer.html' %}
                {% endblock footer %}

            </div>
            <!-- ============================================================== -->
            <!-- End Page content -->
            <!-- ============================================================== -->
        </div>

        {% block js %}
        <!-- Vendor js -->
        <script src="{% static 'assets/js/vendor.min.js'%}"></script>
        <!-- App js-->
        <script src="{% static 'assets/js/app.min.js'%}"></script>
        <!-- Dashboar 1 init js-->
        <!-- Plugins js-->
        <script src="{% static 'assets/libs/jquery-sparkline/jquery-sparkline.min.js' %}"></script>
        <script src="{% static 'assets/libs/jquery-vectormap/jquery-vectormap.min.js' %}"></script>

        <!-- Dashboard 2 init -->
        <script src="{% static 'assets/js/pages/dashboard-2.init.js' %}"></script>
        {% endblock js %}
    </body>
</html>