{% load static %}
{% load staticfiles %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="csrf-token" content="{{csrf_token}}">
    <title>{% block title %}GOBD | Registration{% endblock title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="A fully featured admin theme which can be used to build CRM, CMS, etc." name="description" />
    <meta content="Coderthemes" name="author" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- App favicon -->
    <link rel="shortcut icon" href="{% static 'assets/images/favicon.ico' %}">
    <!-- App css -->
    <link href="{% static 'assets/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'assets/css/icons.min.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'assets/css/app.min.css' %}" rel="stylesheet" type="text/css" />
</head>
<body class="authentication-bg authentication-bg-pattern">
    <div class="account-pages mt-5 mb-5">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-8 col-lg-6 col-xl-5">
                    <div class="card bg-pattern">
                        <div class="card-body p-4">
                            <div class="text-center w-75 m-auto">
                                <a href="{% url 'home' %}">
                                    <span><img src="{% static 'assets/images/logo.png' %}" alt="" height="100"></span>
                                </a>
                                <br><br>
                                {% block heading %}
                                {% endblock heading%}

                                <br><br>

                                {% block content %}
                                {% endblock content%}

                                <br><br>
                            </div>

                            <div class="text-center">
                                <h5 class="mt-3 text-muted">log in with</h5>
                                <ul class="social-list list-inline mt-3 mb-0">
                                    <li class="list-inline-item">
                                        <a href="javascript: void(0);" class="social-list-item border-primary text-primary"><i class="mdi mdi-facebook"></i></a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a href="javascript: void(0);" class="social-list-item border-danger text-danger"><i class="mdi mdi-google"></i></a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a href="javascript: void(0);" class="social-list-item border-info text-info"><i class="mdi mdi-twitter"></i></a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a href="javascript: void(0);" class="social-list-item border-secondary text-secondary"><i class="mdi mdi-github-circle"></i></a>
                                    </li>
                                </ul>
                            </div>

                        </div> <!-- end card-body -->
                    </div>
                    <!-- end card -->

                    <div class="row mt-3">
                        <div class="col-12 text-center">
                            <p class="text-black-50">already have a seller account?  <a href="{% url 'store-signin' %}" class="text-white ml-1"><b>sign in as a seller</b></a></p>
                        </div> <!-- end col -->
                        <br>
                        <div class="col-12 text-center">
                            <p class="text-black-50">already have a rider account?  <a href="{% url 'delivery_boy-signin' %}" class="text-white ml-1"><b>sign in as a delivery man</b></a></p>
                        </div>
                    </div>
                    <!-- end row -->
                </div> <!-- end col -->
            </div>
            <!-- end row -->
        </div>
        <!-- end container -->
    </div>
    <!-- end page -->
    <footer class="footer footer-alt">
        2020 &copy; gobd.delivery & <a href="http://about.me/mdallrabbi">mdallrabbi</a>
    </footer>
    <!-- Vendor js -->
    <script src="{% static 'assets/js/vendor.min.js' %}"></script>
    <!-- App js -->
    <script src="{% static 'assets/js/app.min.js' %}"></script>
</body>
</html>