{% extends 'base_signup.html' %}
{% load crispy_forms_tags %}

{% block title %}sign in to gobd.delivery{% endblock title %}
{% block heading %}log in to gobd.delivery{% endblock heading%}

{% block content %}
    <form method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class="btn btn-success">sign in</button>
    </form>
    <br>
    <a href="{% url 'store-signup' %}">sign up for seller account</a>
{% endblock content %}