{% extends 'store/base.html' %}
{% block title %} delivery orders {% endblock title %}
{% block pagetitle %} delivery orders {% endblock pagetitle %}

{% block page %}
<div class="card">
<div class="card-body">
    <div class="card-widgets">
        <a href="javascript: void(0);" data-toggle="reload"><i class="mdi mdi-refresh"></i></a>
        <a data-toggle="collapse" href="#cardCollpase5" role="button" aria-expanded="false" aria-controls="cardCollpase5"><i class="mdi mdi-minus"></i></a>
        <a href="javascript: void(0);" data-toggle="remove"><i class="mdi mdi-close"></i></a>
    </div>
    <div id="cardCollpase5" class="collapse pt-3 show">
        <div class="table-responsive">
            <table class="table table-hover table-centered mb-0">
                <thead class="thead-light">
                    <tr>
                        <th>id</th>
                        <th>Date</th>
                        <th>product detail</th>
                        <th>customer</th>
                        <th>order type</th>
                        <th>delivery location</th>
                        <th>tracking status</th>
                        <th>cancellation</th>
                        <th>order info</th>
                        <th>payment type</th>
                    </tr>
                </thead>
                <tbody>
                {% for order in orders %}
                    <tr>
                        <td>
                            {{ order.id }}
                        </td>
                        <td>
                            {{ order.created_at }}
                        </td>
                        <td>
                            <h5 class="m-0 font-weight-normal">{{ order.title }}</h5>
                        </td>
                        <td>
                            {{ order.customer_name }}
                        </td>
                        <td>
                            {{ order.preiority }}
                        </td>
                        <td>
                            {{ order.delivery_location }}
                        </td>
                        <td>
                            {{ order.status }}
        {#                            {% if order.status %}#}
        {#                                {% if order.status == 'ACCEPTED' %}#}
        {#                                    <td class="text-info">{{ order.status }}</td>#}
        {#                                {% else %}{% endif %}#}
        {#                                {% if order.status == 'PICKUP' %}#}
        {#                                    <td class="text-success">{{ order.status }}</td>#}
        {#                                {% else %}{% endif %}#}
        {#                                {% if order.status == 'DELIVERED' %}#}
        {#                                    <td class="text-danger">{{ order.status }}</td>#}
        {#                                {% else %}{% endif %}#}
        {#                                {% if order.status == 'CANCELLED' %}#}
        {#                                    <td class="text-warning">{{ order.status }}</td>#}
        {#                                {% else %}{% endif %}#}
        {#                                {% if order.status == 'RETURN' %}#}
        {#                                    <td class="text-success">{{ order.status }}</td>#}
        {#                                {% else %}{% endif %}#}
        {#                            {% endif %}#}
                        </td>
                        <td>
                            <button onclick="cancelOrder(`{{order.id}}`)"class="btn btn-danger" id="CancelOrderBtn" >cancel</button>
                        </td>
                        <td>
                            <a href="{{ order.get_absolute_url }}"><button class="btn btn-success">print</button></a>
                        </td>
                        <td>
                            <a href="javascript: void(0);" class="btn btn-xs btn-secondary">
                                <i class="mdi mdi-pencil">
                                    {{ order.payment_type }}
                                </i>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
</div>
{% endblock page %}
