{% load static %}
{% load staticfiles %}
{% csrf_token %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="csrf-token" content="{{csrf_token}}">
        <title>{% block title %} gobd.delivery dashboard {% endblock title %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta content="A fully featured admin theme which can be used to build CRM, CMS, etc." name="description" />
        <meta content="Coderthemes" name="author" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <link rel="shortcut icon" href="{% static 'assets/images/favicon.ico' %}">
        <link href="{% static 'assets/libs/jquery-vectormap/jquery-vectormap.min.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'assets/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'assets/css/icons.min.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'assets/css/app.min.css' %}" rel="stylesheet" type="text/css" />
        {% block extra_style %}{% endblock extra_style %}
        {% block script %} {% endblock script%}
    </head>

    <body>
        <div id="wrapper">
            {% block topbar %}
                {% include "./partials/topbar-light.html" %}
            {% endblock topbar %}
            {% block storesidebar %}
                {% include "./partials/left-sidebar.html" %}
            {% endblock storesidebar %}
            {% block footer %}
                {% include "./partials/footer.html" %}
            {% endblock footer %}
        </div>
        <script src="{% static 'assets/js/vendor.min.js'%}"></script>
        <script src="{% static 'assets/js/app.min.js'%}"></script>
        <script src="{% static 'assets/libs/jquery-sparkline/jquery-sparkline.min.js' %}"></script>
        <script src="{% static 'assets/libs/jquery-vectormap/jquery-vectormap.min.js' %}"></script>
        <script src="{% static 'assets/js/pages/dashboard-2.init.js' %}"></script>
    </body>
</html>